<!DOCTYPE html>
  <html class="no-js" lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
      <title></title>
      <link rel="stylesheet" href="/stylesheets/subpages.css" />
    </head>
    <body>
        <div class="form">
          <form method="POST" action="/exhibits/<%=@exhibit.id%>">
            <input type="hidden" name="_method" value="patch">
          <br>
          <input type="text" name="title" value="<%= @exhibit.title %>" placeholder="TITLE">
          <br>
          <input type="text" name="deadline" value="<%= @exhibit.deadline %>" placeholder="DEADLINE">
          <br>
          <input type="text" name="medium" value="<%= @exhibit.medium %>" placeholder="MEDIUM">
          <br>
          <input type="text" name="exhibit_date" value="<%= @exhibit.exhibit_date %>" placeholder="EXHIBIT DATE">
          <br>
          <input type="text" name="location" value="<%= @exhibit.location %>" placeholder="LOCATION">
          <br>
          <input type="text" name="entry_fee" value="<%= @exhibit.entry_fee %>" placeholder="ENTRY FEE">
          <br>
          <br>
          <input type="submit" value="Save Exhibit">
          </form>
        </div>

      </body>
    </html>
