
<h3> Here is your exhibit list:</h3>

<br>
<p> <%=@exhibit.title%> </p>
<p> <%=@exhibit.deadline%> </p>
<p> <%=@exhibit.medium%> </p>
<p> <%=@exhibit.exhibit_date%> </p>
<p> <%=@exhibit.location%> </p>
<p> <%=@exhibit.entry_fee%> </p>

<a href="/exhibits/<%= @exhibit.id %>/edit">Edit</a>
<form method="POST" action="/exhibits/<%= @exhibit.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete">
</form>
